// Change your color you want --- please input rgb color (ex: 22,33,44)
// THEME PALETTE 10 indigo-coolGrey ==========================================
:root {
  // PRIMARY COLOR
  --c-primary-50: 238, 242, 255;
  --c-primary-100: 224, 231, 255;
  --c-primary-200: 199, 210, 254;
  --c-primary-300: 165, 180, 252;
  --c-primary-400: 129, 140, 248;
  --c-primary-500: 99, 102, 241;
  --c-primary-600: 79, 70, 229;
  --c-primary-700: 67, 56, 202;
  --c-primary-800: 55, 48, 163;
  --c-primary-900: 49, 46, 129;

  // SECONDARY COLOR
  --c-secondary-50: 240, 253, 250;
  --c-secondary-100: 204, 251, 241;
  --c-secondary-200: 153, 246, 228;
  --c-secondary-300: 153, 246, 228;
  --c-secondary-400: 27, 217, 106; //ZELENA BOJA
  --c-secondary-500: 20, 184, 166;
  --c-secondary-600: 13, 148, 136;
  --c-secondary-700: 15, 118, 110;
  --c-secondary-800: 17, 94, 89;
  --c-secondary-900: 19, 78, 74;

  // NEUTRAL COLOR
  --c-neutral-50: 249, 250, 251;
  --c-neutral-100: 243, 244, 246;
  --c-neutral-200: 229, 231, 235;
  --c-neutral-300: 243, 243, 243;
  --c-neutral-400: 156, 163, 175;
  --c-neutral-500: 107, 114, 128;
  --c-neutral-600: 23, 24, 27;
  --c-neutral-700: 55, 65, 81;
  --c-neutral-800: 41, 48, 57;
  --c-neutral-900: 11, 12, 15;
  --c-neutral-black: 26, 26, 26;
  
  --c-neutral-black3: 26, 26, 26; // Ovo je crna boja u RGB formatu
  --c-neutral-bijela: 243, 243, 243;
}

.zabut {
    .gap-2 {
        color: rgb(55 72 32);
    }
}

.dark\:bg-crnija:where(.dark,.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgba(var(--c-neutral-black3),var(--tw-bg-opacity,1))
}
.dark\:zeleni {
    background-color: rgba(var(--c-secondary-400),var(--tw-bg-opacity,1)) // 1 je za potpunu neprovidnost
}

.custom-scale {
  transform: scale(1.03); /* Primer za 102% */
}

.bg-bijela {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235/var(--tw-bg-opacity,1))
}
